<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="navbar navbar-nav">
            <li routerLinkActive="active">
                <a routerlink="books">Livres</a>
            </li>
        </ul>
        <ul class="navbar navbar-nav navbar-right">
            <li routerLinkActive="active">
                <a routerlink="auth/signup">créer un compte</a>
            </li>
            <li routerLinkActive="active">
                <a routerlink="auth/signin">Connexion</a>
            </li>
        </ul>
    </div>
</nav>